<ngb-accordion>
  <ngb-panel title="Tom's Number Addition">
    <ng-template ngbPanelContent>
      <div class="card">
        <div class="card-header">
          Tom's Number Addition
        </div>
        <div class="card-body">
          <input type="number" [(ngModel)]="n1">
          &nbsp; + &nbsp;
          <input type="number" [(ngModel)]="n2">
          &nbsp; <button (click)="addNumbers()">=</button> &nbsp;
          {{ answer }}
        </div>
      </div>
    </ng-template>
  </ngb-panel>
</ngb-accordion>

 
  
  


