<div class="card">
  <div class="card-header">
    <h4 style="color:red">Drew's String Concatenation</h4>
  </div>
  <div class="card-body">
      <h5 class="card-subtitle text-muted">Continually adds a new string 
          to the end of the previous string</h5><br>
      <input type="text" [(ngModel)]="firstString">
      &nbsp; + &nbsp;
      <input type="text" [(ngModel)]="secondString" id="secondBox">
      &nbsp; <button (click)="open(surgery)">=</button> &nbsp;
      {{ finalString }}
  </div>
</div>

<ng-template #surgery let-modal>
  <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Really?</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <div class="modal-body">
    <p>Are you sure? This action can't be undone.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="close()">Go for it</button>
  </div>
</ng-template>

