<ngb-accordion #acc="ngbAccordion" activeIds="ross-panel">
    <ngb-panel id="ross-panel">
      <ng-template ngbPanelTitle>
        <span class="h4">Ross' Search Tool</span>
      </ng-template>
      <ng-template ngbPanelContent>
        <div class="form-inline">
            <input type="text" placeholder="String To Search" [(ngModel)]="stringToSearch"> 
            &nbsp; ? &nbsp;
            <input type="text" placeholder="Search Value" [(ngModel)]="searchString"> &nbsp; 
            <button (click)="checkString()">Find</button>
            &nbsp;
            <ngb-alert *ngIf="!closed && isMatch" (close)="closed=true" type="success" close=closeAlert()> {{ isMatch }} </ngb-alert>
            <ngb-alert *ngIf="!closed && isMatch == false" (close)="closed=true" type="danger"  close=closeAlert()> {{ isMatch }} </ngb-alert>
        </div>
      </ng-template>
    </ngb-panel>
  </ngb-accordion> 