/* You can add global styles to this file, and also import other style files */
body {
    padding: 2em;
}
hr {
    margin: 1em;
}

h5 {
    background-color: green;
    text-align: center; 
}

h5 > button.btn {
    font-size: 2em;
}

