<div class="card" >
    <div class="card-header alert-dark">
        Isaac's ... Numbers Thing
    </div>
    <div class="card-body">
            <input type="text" class="form-control i-med" [(ngModel)]="myMatrixString1">
            <input type="text" class="form-control i-med" [(ngModel)]="myMatrixString2">
            <button class="btn btn-dark i-btn" (click)="initiateTheMatrix()">
                Take the Red Pill
            </button>
            <div id="matrixNode" style="position:fixed;right:0;top:0"></div>
    </div>
</div>


