#matrix-node {
    width:100%;
    background-color:black;
    top: 0px;
    bottom: 0px;
    position:absolute;
}

.matrix {
    width:100%;
    background-color:white;
    top: 0px;
    bottom: 0px;
    position:absolute;
}